.button_submit {
    width: 100px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    background-color: orange;
}

.button_refuse {
    width: 100px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    background-color: red;
}

.button_theme_red {
    background-color: red;
}
.button_theme_green {
    background-color: green;
}

.button_disable {
    opacity: 0.3;
    cursor: none;
}